Source: plasma-bigscreen
Section: kde
Priority: optional
Maintainer: Harald Sitter <sitter@kde.org>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               libkf5wayland-dev,
               libkf5windowsystem-dev,
               pkg-kde-tools (>= 0.9),
               plasma-framework-dev,
               libkf5kcmutils-dev,
               libkf5declarative-dev,
               qtdeclarative5-dev
Standards-Version: 3.9.6

Package: plasma-bigscreen
Architecture: any
Depends: plasma-workspace,
         plasma-nano,
         qml-module-org-kde-kitemmodels,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Plasma Big launcher
 A plasma shell package intended for bigscreen devices.
